.venv/bin
.venv
.idea/
.DS_Store
__pycache__/
data/.DS_Store
data/cleaned
data/vectorized
data/topic_models
data/raw/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/
results/

# Environment variables (contains secrets)
.env
